<div class="wrapper">
  <div class="employee-header">
    <div class="search-wrapper">
      <mat-form-field class="search">
        <mat-label class="search-label">Search by ID or Name</mat-label>
        <input
          matInput
          #searchInput
          class="search-input"
          [value]="searchValue"
        />
        <button
          *ngIf="searchValue"
          mat-icon-button
          matSuffix
          aria-label="Clear"
          (click)="clearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
        Search
      </button>
    </div>
    <p>
      <a mat-button routerLink="/employee-create">
        <mat-icon>add</mat-icon>Add Employee
      </a>
    </p>
  </div>

  <div class="table-wrapper" *ngIf="employeeData">
    <table mat-table [dataSource]="employeeData" class="table" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Employee ID</th>
        <td mat-cell *matCellDef="let employee">{{ employee.id }}</td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let employee">{{ employee.username }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
      </ng-container>

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let employee">
          <img
            class="profile_photo"
            src="{{
              employee.profile?.formats?.large?.url ??
                '../../../../assets/images/img_profile.png'
            }}"
            alt="Profile"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.address ?? "--" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.phone ?? "--" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>DOB</th>
        <td mat-cell *matCellDef="let employee">
          {{ (employee.dob | date : "YYYY-MM-dd") ?? "--" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let employee">
          <a class="detail" mat-button routerLink="/employees/{{ employee.id }}"
            ><mat-icon>perm_contact_calendar</mat-icon>Detail</a
          >
          <a
            class="edit"
            mat-button
            routerLink="/employee-edit/{{ employee.id }}"
            ><mat-icon>edit</mat-icon>Edit</a
          >
          <button class="delete" (click)="deleteEmployee(employee.id)" mat-button>
            <mat-icon>delete</mat-icon>Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
      <tr mat-row *matRowDef="let row; columns: tableHeader"></tr>
    </table>
  </div>
  <mat-paginator
    *ngIf="employeeData"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<app-footer></app-footer>
