<div class="wrapper" *ngIf="employeeDetail && !pageLoading">
  <div class="profile-wrapper">
    <div class="d-inline-block edit-wrapper" ngbDropdown #myDrop="ngbDropdown">
      <button
        type="button"
        class="btn btn-outline-success me-2 edit-profile"
        (click)="$event.stopPropagation(); myDrop.open()"
      >
        <mat-icon>edit</mat-icon> <span>Edit</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual" class="eidt-items">
        <button ngbDropdownItem>
          <label for="fileInput">Upload a profile</label>
          <input
            id="fileInput"
            type="file"
            (change)="onFileSelected($event)"
            accept=".jpg, .jpeg, .png"
          />
        </button>
        <button *ngIf="imageUrl" ngbDropdownItem (click)="deleteProfile()">
          Remove a profile
        </button>
      </div>
    </div>
    <img
      class="profile"
      [src]="
        profileImg ? profileImg : '../../../../assets/images/img_profile.png'
      "
      alt="Profile"
    />
  </div>
  <div class="file-selected" *ngIf="fileSelected">
    <p>{{ profilePhoto.name }}</p>
    <button
      class="btn btn-danger btn-sm me-2"
      (click)="cancelFileSelection()"
      *ngIf="!isLoading"
    >
      Cancel
    </button>
    <button class="btn btn-success btn-sm" (click)="uploadProfile()">
      <span *ngIf="!isLoading">Save</span>
      <span *ngIf="isLoading">Loading...</span>
    </button>
  </div>
  <button class="btn btn-danger btn-sm me-2" *ngIf="isRemoving">
    Removing...
  </button>

  <h2>{{ employeeDetail.username }}</h2>
  <div class="info-wrapper">
    <div class="email">
      <p>Email:</p>
      <p>{{ employeeDetail.email }}</p>
    </div>
    <div class="address">
      <p>Address:</p>
      <p>{{ employeeDetail.address ? employeeDetail.address : "--" }}</p>
    </div>
    <div class="phone">
      <p>Phone Number:</p>
      <p>{{ employeeDetail.phone ? employeeDetail.phone : "--" }}</p>
    </div>
    <div class="dob">
      <p>DOB:</p>
      <p>{{ employeeDetail.dob ? employeeDetail.dob : "--" }}</p>
    </div>
    <div class="role">
      <p>Position:</p>
      <p>{{ employeeDetail.role.name }}</p>
    </div>
  </div>
  <div class="info-wrapper">
    <a
      class="edit"
      mat-button
      routerLink="/employee-edit/{{ employeeDetail.id }}"
      >Edit</a
    >
  </div>
</div>
<app-loading *ngIf="pageLoading"></app-loading>
<app-footer *ngIf="employeeDetail && !pageLoading"></app-footer>
