<div class="form-wrapper">
  <form [formGroup]="resetPassForm" (ngSubmit)="login()" novalidate>
    <h2>Reset Password Form</h2>
    <mat-form-field class="input">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        required
        minlength="6"
      />
      <mat-icon matSuffix (click)="hide = !hide">
        {{ hide ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error
        class="error"
        *ngIf="
          resetPassForm.get('password')?.invalid &&
          (resetPassForm.get('password')?.dirty ||
            resetPassForm.get('password')?.touched)
        "
      >
        <span *ngIf="resetPassForm.get('password')?.errors?.['required']"
          >Password is required.</span
        >
        <span *ngIf="resetPassForm.get('password')?.errors?.['minlength']"
          >Password must be at least 6 characters long.</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        placeholder="confirmPassword"
        formControlName="confirmPassword"
        [type]="confirmHide ? 'password' : 'text'"
        required
        minlength="6"
      />
      <mat-icon matSuffix (click)="confirmHide = !confirmHide">
        {{ confirmHide ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error
        *ngIf="
          resetPassForm.get('confirmPassword')?.hasError('passwordMismatch')
        "
      >
        Passwords do not match.
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      class="btn-submit"
      type="submit"
      [disabled]="!resetPassForm.valid"
    >
      <mat-spinner *ngIf="isLoading" class="loading"></mat-spinner>
      <span *ngIf="!isLoading">UPDATE</span>
    </button>
  </form>
  <p><a routerLink="/">Back To Home</a></p>
</div>
