<div class="form-wrapper">
  <form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()" novalidate>
    <h2>Forgot Password Form</h2>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. user@example.com"
      />
      <mat-error
        class="error"
        *ngIf="
          forgotPassForm.get('email').invalid &&
          (forgotPassForm.get('email').dirty || forgotPassForm.get('email').touched)
        "
      >
        <span *ngIf="forgotPassForm.get('email').errors.required"
          >Email is required.</span
        >
        <span *ngIf="forgotPassForm.get('email').errors.email">Invalid email.</span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button class="btn" [disabled]="!forgotPassForm.valid">
      SEND
    </button>
  </form>
</div>
